<!-- <p>newcustomer works!</p> -->
<div>
    <form>
      <div class="mb-3">
        <label class="form-label">FirstName</label>
        <input type="text" class="form-control" placeholder="Enter FirstName">
      </div>
      <div class="mb-3">
        <label class="form-label">LastName</label>
        <input type="text" class="form-control" placeholder="Enter LastName">
      </div>
      <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" placeholder="Enter Address">
      </div>
      <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" placeholder="Enter City">
      </div>
      <div class="mb-3">
        <label class="form-label">State</label>
        <input type="text" class="form-control" placeholder="Enter State">
      </div>
     
    </form>
  </div>
  